# Ignore the locally installed node modules
/node_modules
/WEB.sublime-workspace
/WEB.sublime-project
/changes.log
/web-mymovieapi.njsproj
/web-mymovieapi.sln
/web-mymovieapi.v12.suo
/sftp-config.json