<html>
  <head>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"></link>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="{{objects.1.URL}}/scripts/md5_device_fingerprint.js"></script>
    <script>
      var socket = io.connect('{{objects.1.URL}}');
      socket.on('updateThumbCount', function (data) {
        if(data.Response) {
          $('#thumbDownNr-' + data._id).html(data.thumbsDown);
          $('#thumbUpNr-' + data._id).html(data.thumbsUp);
        }       
      });
  </script>
  </head>
  <body>
  <style>
    .image:hover {
        opacity:0.8;
    }
    .glyphiconThumbsBlue, .glyphiconThumbsRed {
      font-size: 2.0em;
      margin-right:4px;

    }
    .glyphiconThumbsBlue {
      margin-left:20px;
    }
    .glyphiconThumbsBlue:hover {
      color:Blue;
      cursor:pointer;
    }
    .glyphiconThumbsRed:hover {
      color:Red;
      cursor:pointer;
    }
    .table-nonfluid {
      width: auto !important;
    }
  </style>
  <table class="table table-condensed table-bordered table-nonfluid" width="722" style="margin-left:auto;margin-right:auto;">
    <tbody>
      {{#each objects}} 
      <tr>
        <td width="301">
          <div class="image">
            <a href="http://www.imdb.com/title/{{imdbID}}" target="_blank"><img src="{{Poster}}"/></a>
          </div>
        </td>
        <td style="position:relative;">
          <span style="font-size: 20px; color: black; font-weight: bold;">{{Title}}</span><br/>        
          <div style="margin: 4px 0 0 10px; width:420px">
            <b>Year:</b> {{Year}}<br/>
            <b>Released:</b> {{Released}}<br/>
            <b>Runtime:</b> {{Runtime}}<br/>
            <b>Genre:</b> {{Genre}}<br/>
            <b>Language:</b> {{Language}}<br/>
            <b>Awards:</b> {{Awards}}<br/>
            <b>imdbRating:</b> {{imdbRating}}<br/>
            <b>imdbVotes:</b> {{imdbVotes}}<br/>       
            <b>Plot:</b> {{Plot}}
            <div style="position:absolute;bottom:20; left:20;">
              <span class="glyphicon glyphicon-thumbs-down glyphiconThumbsRed" id="thumbDownGlyph-{{_id}}" data-id="{{_id}}"></span><span id="thumbDownNr-{{_id}}">{{thumbsDown}}</span>
              <span class="glyphicon glyphicon-thumbs-up glyphiconThumbsBlue" id="thumbUpGlyph-{{_id}}" data-id="{{_id}}"></span><span id="thumbUpNr-{{_id}}">{{thumbsUp}}</span>
              <script type="text/javascript">
                $('#thumbDownGlyph-{{_id}}').click(function () {
                  $.ajax({
                    url: "{{URL}}/updateThumbs/{{_id}}/-1/" + window.fingerprint.md5hash,
                    method: "PUT",
                    data: { md5fingerprint: window.fingerprint.md5hash },
                    contentType: "application/json",
                    dataType: 'json'
                  });

                });
                $('#thumbUpGlyph-{{_id}}').click(function () {
                  $.ajax({
                    url: "{{URL}}/updateThumbs/{{_id}}/1/" + window.fingerprint.md5hash,
                    method: "PUT",
                    data: { md5fingerprint: window.fingerprint.md5hash },
                    contentType: "application/json",
                    dataType: 'json'
                  });
                });
              </script>
            </div>
          </div>
         </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  </body>
</html>